**/.DS_Store
*.out
*.log
coverage.txt
coverage.xml
bin
tmp
errors.txt
large-tests
taint-report*
*-report
*-report*
.emacs.desktop
.idea
.venv
# Check targets
/payload/public-repos-checks/amazon-ssm-agent
.amazonq
.kiro
.claude
